# API — FastAPI
PORT=8000

# Front — Streamlit
API_BASE_URL=http://localhost:8000      # local
# API_BASE_URL=http://api:8000          # Docker interne
# API_BASE_URL=https://api.neuralzoo.ton-domaine.fr  # prod Coolify

# Modèle
MODEL_PATH=models/cnn_cifar10.pth
METRICS_PATH=models/metrics.json
DATA_PATH=data/cifar-10-batches-py